.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}


/* Posiziona la navbar in alto */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


.line1 {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
}

.line2 {
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin-top: 4rem;
}