.container-donation {
  padding: 0.3rem;
    display: flex;
    width: 800px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
 
    font-family: 'gravity-italic';
  }
  
  h1 {
    color: #ffffff;
    font-size: 20px;
  }
  
  p {
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
    
  input {
    width: 50%;
    min-width: 200px;
  }
  


  .container-donation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donation-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
  }
  



  .d-btn {
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    border-radius:  8px;
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .d-btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .d-btn:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
  
  
  /* Icon separator */
  .d-btn1-sep {
    padding: 15px 40px 10px 90px;
  }
  
  .d-btn1-sep:before {
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  /* Button 1 */
  .d-btn1 {
    background: #6aff00;
    color: #fff;
  }
  
  .d-btn1:hover {
    background: #2980b9;
  }
  
  .d-btn1:active {
    background: #2980b9;
    top: 2px;
  }
  
  .d-btn1:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 0;
    font-size: 140%;
    width: 60px;
  }

  .icon-connect:before {
    content: url('../images/walletconnect.png');
  }

  .icon-paypal:before {
    content: url('../images/paypal.png');
  }






  /* Media query for mobile devices */
@media (max-width: 768px) {
  .container-donation {
    width: 95%;
  }

  .donation-row {
    flex-direction: column;
    align-items: center;
  }

  .donation-eth,
  .donation-paypal {
    width: 100%;
    max-width: none;
    text-align: center;
  }

  .inputt {
    img {
      width: 100px;
      height: 10px;
    }
  }
}

  