.social-container {
    width: 300px;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
  }
  
  .copyright {
    font-family: 'gravity';
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
  }