.images-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 900px
  }

  .variation-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 900px;
  }
  
  .input-container {
    height: 50px;
    display: flex;
    margin-top: 1rem;
  }

  .v-input-container {
    height: 100px;
    display: flexbox;
  }
  
  .prompt-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .v-generate-button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  .generate-button {
  background-color: #1e88e5;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
  }
  
  
  .image-container {
    margin-top: 1rem;
  }
  
  .generated-image {
    max-width: 900px;
    max-height: 60vh;
    border-radius: 5px;
  }
  

  .loader {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  .create-variation-button {
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: #f8d62b;
    border: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .image-variations {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .variation-image {
    max-width: 256px;
    max-height: 256px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  /* Media query for mobile devices */
@media (max-width: 768px) {
  .images-container{
    width: 100%;
  }

  .generated-image {
    max-width: 100%;
  }

  .input-container,
  .v-input-container {
    flex-direction: column;
  }
  
  .line1,
  .line2 {
    display: none;
  }

  .prompt-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .v-generate-button,
  .generate-button {
    width: 90%;
  }

  .image-variations {
    justify-content: center;
  }

  .variation-image {
    max-width: 48%;
  }
  .variation-container {
    display: none;
  }
}
